<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Display json Data</h1>
    <p>Flowers and addons testing</p>

    <ul>
        {% for flower, details in flowers.items() %}
            <li>{{ flower }} - ${{ details['price'] }} (Stock: {{ details['stock'] }})</li>
        {% endfor %}
    </ul>

    <ul>
        {% for addon, details in addons.items() %}
            <li>{{ addon }} - ${{ details['price'] }} </li>
        {% endfor %}
    </ul>

</body>
</html>
